extends layout/app

block contenido
    div(class="py-5")
        h1(class="text-center text-4xl font-extrabold") Servicios a Domicilio

        section(class="py-5")
            h2(class="text-center text-4xl font-extrabold pt-10") Consultas

            div(class="grid grid-cols-1 md:grid-cols-3 gap-5 mt-5")
                each consulta in AMIAD
                    include ./templates/card

        section(class="py-5")
            h2(class="text-center text-4xl font-extrabold pt-10") Mas Consultas

            div(class="grid grid-cols-1 md:grid-cols-3 gap-5 mt-5")
                each consulta in ADSSAD
                    include ./templates/card